/CodigoFuente/React V2.rar
/CodigoFuente/plataformamgp.rar
/CodigoFuente/elevadores/API/obj
/CodigoFuente/elevadores/API/bin
/CodigoFuente/elevadores/.vs
/CodigoFuente/elevadores/IdentityServer/bin
/CodigoFuente/elevadores/IdentityServer/obj
