/CodigoFuente/React V2.rar
/CodigoFuente/plataformamgp.rar
/CodigoFuente/Antenas/API/obj
/CodigoFuente/Antenas/API/bin
/CodigoFuente/Antenas/.vs
/CodigoFuente/Antenas/IdentityServer/bin
/CodigoFuente/Antenas/IdentityServer/obj