CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240820174904_primerMigracion', '7.0.11');

COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240821125744_modifCarRevista', '7.0.11');

COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240821150909_segundaMigracion', '7.0.11');

COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_Personas" (
    "IdPersona" integer GENERATED BY DEFAULT AS IDENTITY,
    "DNI" char(8) NOT NULL,
    "Apellido" varchar(100) NOT NULL,
    "Nombre" varchar(100) NOT NULL,
    "Legajo" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Personas" PRIMARY KEY ("IdPersona")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");


COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_Personas" (
    "IdPersona" integer GENERATED BY DEFAULT AS IDENTITY,
    "DNI" char(8) NOT NULL,
    "Apellido" varchar(100) NOT NULL,
    "Nombre" varchar(100) NOT NULL,
    "Legajo" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Personas" PRIMARY KEY ("IdPersona")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");


COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_Personas" (
    "IdPersona" integer GENERATED BY DEFAULT AS IDENTITY,
    "DNI" char(8) NOT NULL,
    "Apellido" varchar(100) NOT NULL,
    "Nombre" varchar(100) NOT NULL,
    "Legajo" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Personas" PRIMARY KEY ("IdPersona")
);

CREATE TABLE "MEC_TiposCategorias" (
    "IdTipoCategoria" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodCategoria" char(2) NOT NULL,
    "CodCategoriaMGP" varchar(10) NOT NULL,
    "Descripcion" varchar(100) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposCategorias" PRIMARY KEY ("IdTipoCategoria")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");


COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_POF" (
    "IdPOF" integer GENERATED BY DEFAULT AS IDENTITY,
    "IdEstablecimiento" integer NOT NULL,
    "IdPersona" integer NOT NULL,
    "Secuencia" char(3) NOT NULL,
    "Barra" char(2) NULL,
    "IdCategoria" integer NOT NULL,
    "TipoCargo" char(1) NOT NULL,
    "CantHsCargo" char(4) NOT NULL,
    "AntigAnios" char(2) NOT NULL,
    "AntigMeses" char(2) NOT NULL,
    "SinHaberes" char(1) NOT NULL,
    "Subvencionada" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_POF" PRIMARY KEY ("IdPOF")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_Personas" (
    "IdPersona" integer NOT NULL,
    "DNI" char(8) NOT NULL,
    "Apellido" varchar(100) NOT NULL,
    "Nombre" varchar(100) NOT NULL,
    "Legajo" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Personas" PRIMARY KEY ("IdPersona"),
    CONSTRAINT "FK_MEC_Personas_MEC_POF_IdPersona" FOREIGN KEY ("IdPersona") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE
);

CREATE TABLE "MEC_TiposCategorias" (
    "IdTipoCategoria" integer NOT NULL,
    "CodCategoria" char(2) NOT NULL,
    "CodCategoriaMGP" varchar(10) NOT NULL,
    "Descripcion" varchar(100) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposCategorias" PRIMARY KEY ("IdTipoCategoria"),
    CONSTRAINT "FK_MEC_TiposCategorias_MEC_POF_IdTipoCategoria" FOREIGN KEY ("IdTipoCategoria") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer NOT NULL,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    "EstablecimientoIdPOF" integer NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_POF_EstablecimientoIdPOF" FOREIGN KEY ("EstablecimientoIdPOF") REFERENCES "MEC_POF" ("IdPOF"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_POF_IdEstablecimiento" FOREIGN KEY ("IdEstablecimiento") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE,
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_EstablecimientoIdPOF" ON "MEC_Establecimientos" ("EstablecimientoIdPOF");

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");


COMMIT;

START TRANSACTION;

CREATE TABLE "MEC_CabeceraLiquidacion" (
    "IdCabecera" integer GENERATED BY DEFAULT AS IDENTITY,
    "idTipoLiquidacion" integer NOT NULL,
    "MesLiquidacion" char(2) NOT NULL,
    "AnioLiquidacion" char(2) NULL,
    "Usuario" varchar(50) NOT NULL,
    "Observaciones" varchar(1000) NOT NULL,
    "InicioLiquidacion" DateTime NOT NULL,
    "FinLiquidacion" DateTime NOT NULL,
    "Estado" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CabeceraLiquidacion" PRIMARY KEY ("IdCabecera")
);

CREATE TABLE "MEC_CarRevista" (
    "IdCarRevista" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodPcia" char(1) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "CodMgp" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_CarRevista" PRIMARY KEY ("IdCarRevista")
);

CREATE TABLE "MEC_Conceptos" (
    "IdConcepto" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodConcepto" char(4) NOT NULL,
    "CodConceptoMgp" varchar(10) NULL,
    "Descripcion" varchar(50) NOT NULL,
    "ConAporte" char(1) NOT NULL,
    "Patronal" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Conceptos" PRIMARY KEY ("IdConcepto")
);

CREATE TABLE "MEC_POF" (
    "IdPOF" integer GENERATED BY DEFAULT AS IDENTITY,
    "IdEstablecimiento" integer NOT NULL,
    "IdPersona" integer NOT NULL,
    "Secuencia" char(3) NOT NULL,
    "Barra" char(2) NULL,
    "IdCategoria" integer NOT NULL,
    "TipoCargo" char(1) NOT NULL,
    "CantHsCargo" char(4) NOT NULL,
    "AntigAnios" char(2) NOT NULL,
    "AntigMeses" char(2) NOT NULL,
    "SinHaberes" char(1) NOT NULL,
    "Subvencionada" char(1) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_POF" PRIMARY KEY ("IdPOF")
);

CREATE TABLE "MEC_TiposEstablecimientos" (
    "IdTipoEstablecimiento" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodTipoEstablecimiento" char(2) NOT NULL,
    "Descripcion" varchar(50) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposEstablecimientos" PRIMARY KEY ("IdTipoEstablecimiento")
);

CREATE TABLE "MEC_TiposFunciones" (
    "IdTipoFuncion" integer GENERATED BY DEFAULT AS IDENTITY,
    "CodFuncion" char(1) NOT NULL,
    "CodFuncionMGP" varchar(10) NOT NULL,
    "Descripcion" varchar(100) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposFunciones" PRIMARY KEY ("IdTipoFuncion")
);

CREATE TABLE "MEC_TiposLiquidaciones" (
    "IdTipoLiquidacion" integer NOT NULL,
    "Descripcion" varchar(100) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposLiquidaciones" PRIMARY KEY ("IdTipoLiquidacion"),
    CONSTRAINT "FK_MEC_TiposLiquidaciones_MEC_CabeceraLiquidacion_IdTipoLiquid~" FOREIGN KEY ("IdTipoLiquidacion") REFERENCES "MEC_CabeceraLiquidacion" ("IdCabecera") ON DELETE CASCADE
);

CREATE TABLE "MEC_Personas" (
    "IdPersona" integer NOT NULL,
    "DNI" char(8) NOT NULL,
    "Apellido" varchar(100) NOT NULL,
    "Nombre" varchar(100) NOT NULL,
    "Legajo" varchar(10) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Personas" PRIMARY KEY ("IdPersona"),
    CONSTRAINT "FK_MEC_Personas_MEC_POF_IdPersona" FOREIGN KEY ("IdPersona") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE
);

CREATE TABLE "MEC_TiposCategorias" (
    "IdTipoCategoria" integer NOT NULL,
    "CodCategoria" char(2) NOT NULL,
    "CodCategoriaMGP" varchar(10) NOT NULL,
    "Descripcion" varchar(100) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_TiposCategorias" PRIMARY KEY ("IdTipoCategoria"),
    CONSTRAINT "FK_MEC_TiposCategorias_MEC_POF_IdTipoCategoria" FOREIGN KEY ("IdTipoCategoria") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE
);

CREATE TABLE "MEC_Establecimientos" (
    "IdEstablecimiento" integer NOT NULL,
    "NroDiegep" char(4) NOT NULL,
    "IdTipoEstablecimiento" integer NOT NULL,
    "NroEstablecimiento" varchar(50) NOT NULL,
    "NombreMgp" varchar(100) NOT NULL,
    "NombrePcia" varchar(100) NOT NULL,
    "Domicilio" varchar(100) NOT NULL,
    "Telefono" varchar(50) NOT NULL,
    "UE" varchar(20) NOT NULL,
    "CantSecciones" char(2) NOT NULL,
    "CantTurnos" char(2) NOT NULL,
    "Ruralidad" char(2) NOT NULL,
    "Subvencion" char(3) NOT NULL,
    "Vigente" char(1) NOT NULL,
    CONSTRAINT "PK_MEC_Establecimientos" PRIMARY KEY ("IdEstablecimiento"),
    CONSTRAINT "FK_MEC_Establecimientos_MEC_POF_IdEstablecimiento" FOREIGN KEY ("IdEstablecimiento") REFERENCES "MEC_POF" ("IdPOF") ON DELETE CASCADE,
    CONSTRAINT "FK_MEC_Establecimientos_MEC_TiposEstablecimientos_IdTipoEstabl~" FOREIGN KEY ("IdTipoEstablecimiento") REFERENCES "MEC_TiposEstablecimientos" ("IdTipoEstablecimiento") ON DELETE CASCADE
);

CREATE INDEX "IX_MEC_Establecimientos_IdTipoEstablecimiento" ON "MEC_Establecimientos" ("IdTipoEstablecimiento");


COMMIT;


