Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

CREATE TABLE "CF_Procesos" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "Nombre" text NULL,
    "Descripcion" text NULL,
    "Source" text NULL,
    "DataSource" text NULL,
    "FechaCreacion" timestamp without time zone NOT NULL,
    "FechaActualizaci├│n" timestamp without time zone NOT NULL,
    "Estado" boolean NOT NULL,
    CONSTRAINT "PK_CF_Procesos" PRIMARY KEY ("Id")
);

CREATE TABLE "Posts" (
    "Id" uuid NOT NULL,
    "Title" text NULL,
    "Content" text NULL,
    "Author" text NULL,
    "Tags" text NULL,
    "PostDate" timestamp without time zone NOT NULL,
    "Published" boolean NOT NULL,
    "Image" bytea NULL,
    CONSTRAINT "PK_Posts" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230718180351_p', '3.1.7');

ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaCreacion" TYPE timestamp without time zone;
ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaCreacion" SET NOT NULL;
ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaCreacion" SET DEFAULT (NOW());

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230728115351_new', '3.1.7');

ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaActualizaci├│n" TYPE timestamp without time zone;
ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaActualizaci├│n" SET NOT NULL;
ALTER TABLE "CF_Procesos" ALTER COLUMN "FechaActualizaci├│n" SET DEFAULT (NOW());

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230728120722_fechaactualizacion', '3.1.7');

CREATE TABLE "CF_Parametro" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "Nombre" text NULL,
    "Descripcion" text NULL,
    "Tipo" text NULL,
    "Source" text NULL,
    "DataSource" text NULL,
    "FechaCreacion" timestamp without time zone NOT NULL,
    "FechaActualizaci├│n" timestamp without time zone NOT NULL,
    "Estado" boolean NOT NULL,
    CONSTRAINT "PK_CF_Parametro" PRIMARY KEY ("Id")
);

CREATE TABLE "CF_ParametroxProceso" (
    "ProcesoId" integer NOT NULL,
    "ParametroId" integer NOT NULL,
    "Requerido" character(1) NOT NULL,
    CONSTRAINT "PK_CF_ParametroxProceso" PRIMARY KEY ("ParametroId", "ProcesoId"),
    CONSTRAINT "FK_CF_ParametroxProceso_CF_Parametro_ParametroId" FOREIGN KEY ("ParametroId") REFERENCES "CF_Parametro" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CF_ParametroxProceso_CF_Procesos_ProcesoId" FOREIGN KEY ("ProcesoId") REFERENCES "CF_Procesos" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_CF_ParametroxProceso_ProcesoId" ON "CF_ParametroxProceso" ("ProcesoId");


DROP TABLE "CF_ParametroxProceso";

CREATE TABLE "CF_Configuracion" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "NombreReferencia" text NULL,
    "ProcesoId" integer NOT NULL,
    "FechaCreacion" timestamp without time zone NOT NULL,
    "FechaActualizaci├│n" timestamp without time zone NOT NULL,
    "Estado" boolean NOT NULL,
    CONSTRAINT "PK_CF_Configuracion" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_CF_Configuracion_CF_Procesos_ProcesoId" FOREIGN KEY ("ProcesoId") REFERENCES "CF_Procesos" ("Id") ON DELETE CASCADE
);

CREATE TABLE "CF_Grupos" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "IdPadre" integer NULL,
    "Nombre" text NULL,
    "Descripcion" text NULL,
    "FechaCreacion" timestamp without time zone NOT NULL DEFAULT (NOW()),
    "FechaActualizaci├│n" timestamp without time zone NOT NULL DEFAULT (NOW()),
    "Estado" boolean NOT NULL,
    CONSTRAINT "PK_CF_Grupos" PRIMARY KEY ("Id")
);

CREATE TABLE "CF_ParametroxConfiguracion" (
    "ConfiguracionId" integer NOT NULL,
    "ParametroId" integer NOT NULL,
    "Requerido" character(1) NOT NULL,
    CONSTRAINT "PK_CF_ParametroxConfiguracion" PRIMARY KEY ("ParametroId", "ConfiguracionId"),
    CONSTRAINT "FK_CF_ParametroxConfiguracion_CF_Configuracion_ConfiguracionId" FOREIGN KEY ("ConfiguracionId") REFERENCES "CF_Configuracion" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CF_ParametroxConfiguracion_CF_Parametro_ParametroId" FOREIGN KEY ("ParametroId") REFERENCES "CF_Parametro" ("Id") ON DELETE CASCADE
);

CREATE TABLE "CF_ProcesoxGrupo" (
    "ProcesoId" integer NOT NULL,
    "GrupoId" integer NOT NULL,
    "FechaCreacion" timestamp without time zone NOT NULL,
    "FechaActualizaci├│n" timestamp without time zone NOT NULL,
    "Estado" boolean NOT NULL,
    CONSTRAINT "PK_CF_ProcesoxGrupo" PRIMARY KEY ("ProcesoId", "GrupoId"),
    CONSTRAINT "FK_CF_ProcesoxGrupo_CF_Grupos_GrupoId" FOREIGN KEY ("GrupoId") REFERENCES "CF_Grupos" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CF_ProcesoxGrupo_CF_Procesos_ProcesoId" FOREIGN KEY ("ProcesoId") REFERENCES "CF_Procesos" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_CF_Configuracion_ProcesoId" ON "CF_Configuracion" ("ProcesoId");

CREATE INDEX "IX_CF_ParametroxConfiguracion_ConfiguracionId" ON "CF_ParametroxConfiguracion" ("ConfiguracionId");

CREATE INDEX "IX_CF_ProcesoxGrupo_GrupoId" ON "CF_ProcesoxGrupo" ("GrupoId");



